
*{
    font-family: 'Outfit', sans-serif;
    padding: 0;
    margin: 0;
}

body{
    box-sizing: border-box;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

h1{
    color: var(--secondary-500, #17252F);
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 125%;
    letter-spacing: -0.96px;
}

h2{
    color: var(--base-white, #FFF);
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

h3{
    color: var(--secondary-500, #17252F);
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: 122.222%;
    letter-spacing: -0.72px;
}

h4{
    color: var(--base-white, #FFF);
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: 126.667%;
}

h5{
    color: var(--secondary-500, #17252F);
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 133.333%;
}

h6{
    color: var(--base-white, #FFF);
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

p{
    color: var(--secondary-500, #17252F);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height:  150%;
}

.botao{
    text-decoration: none;
    cursor: pointer;
    padding: 10px 16px;
    border-radius: 40px;
    border: 1px solid var(--secondary-500, #17252F);
    background: var(--secondary-500, #17252F);
    box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
    color: var(--base-white, #FFF);
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
}

.botao:hover{
    background-color: var(--base-white, #FFF);
    color: var(--secondary-500, #17252F);
}

/* Cabeçalho */

.navbar{
    padding: 32px 72px;
}

.navbar-nav{
    justify-content: center;
    gap: 20px;
    padding-left: 240px;
}

.navbar-nav .botao.amarelo{
    border: 1px solid var(--primary-300, #FFD761);
    background: var(--primary-500, #F6B700);
    color: #17252F;
}

.navbar-nav .botao.amarelo:hover{
    border: 1px solid var(--primary-300, #17252F);
    background: var(--primary-500, #FFF);
}






/*RESPONSIVIDADE TITULOS*/

@media (max-width:1024px){}

@media (max-width:767px){}