
*{
    font-family: 'Outfit', sans-serif;
    padding: 0;
    margin: 0;
}

body{
    box-sizing: border-box;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

h1{
    color: var(--secondary-500, #17252F);
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 125%;
    letter-spacing: -0.96px;
}

h2{
    color: var(--secondary-500, #17252F);
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 125%;
    letter-spacing: -0.96px;
}

h3{
    color: var(--secondary-500, #17252F);
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: 122.222%;
    letter-spacing: -0.72px;
}

h4{
    color: var(--base-white, #FFF);
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: 126.667%;
}

h5{
    color: var(--secondary-500, #17252F);
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 133.333%;
}

h6{
    color: var(--secondary-500, #17252F);
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

p{
    color: var(--secondary-500, #17252F);
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}

.botao{
    text-decoration: none;
    cursor: pointer;
    padding: 10px 16px;
    border-radius: 40px;
    border: 1px solid var(--secondary-500, #17252F);
    background: var(--secondary-500, #17252F);
    box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
    color: var(--base-white, #FFF);
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
}

.botao:hover{
    background-color: var(--base-white, #FFF);
    color: var(--secondary-500, #17252F);
}

/* CABEÇALHO */

.navbar{
    padding: 32px 72px;
    background-color: #FFF;
}

.navbar-nav{
    justify-content: center;
    gap: 20px;
    padding-left: 240px;
}

.navbar-nav h6{
    color: var(--secondary-500, #17252F);
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
}

.navbar-nav .botao.amarelo{
    border: 1px solid var(--primary-300, #FFD761);
    background: var(--primary-500, #F6B700);
    color: #17252F;
}

.navbar-nav .botao.amarelo:hover{
    border: 1px solid var(--primary-300, #17252F);
    background: var(--primary-500, #FFF);
}

/* RESPONSIVIDADE CABEÇALHO */

@media (max-width:1600px){
    .navbar-nav{
        padding-left: 60px;
    }
}

@media (max-width:1400px){
    .navbar-nav{
        padding-left: 0px;
    }
}

@media (max-width:1300px){
    .navbar{
        padding: 32px 16px;
    }
}

@media (max-width:1024px){
    .nav-link {
        padding: 0;
    }
}

/* SEÇÃO 1 */

.intro {
    margin: 48px 0;
}

.intro .row{
    padding: 70px 48px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 24px;
}

.block-intro {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 36px;
    width: 530px;
}

.block-intro p{
    font-weight: 600;
}

.block-intro-lista{
    display: flex;
    flex-direction: column;
    gap: 21px;
}

.block-intro-lista-item{
    display: flex;
    gap: 8px;
}

.block-intro-lista p{
    font-weight: 500;
}

/* RESPONSIVIDADE SEÇÃO 1*/


/* SEÇÃO 2 */

.assinatura h3{
    margin-bottom: 48px;
}

.assinatura .col-md-3{
    display: flex;
}

.block-assinatura{
    border-radius: 24px;
    background: var(--gray-50, #F9FAFB);    
    box-shadow: 0px 8px 8px -4px rgba(16, 24, 40, 0.03), 0px 20px 24px -4px rgba(16, 24, 40, 0.08);
    display: flex;
    padding: 12px 24px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.block-assinatura-conteudo{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

.block-assinatura-conteudo span{
    color: var(--primary-500, #F6B700);
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    letter-spacing: -1.2px;
}

.block-assinatura-conteudo p{
    text-align: center;
}

/* RESPONSIVIDADE SEÇÃO 2*/

@media (max-width:1024px){
    .assinatura .col-md-3{
        width: 50%;
        padding-bottom: 16px;
    }
}

/* SEÇÃO 3 */

.grupo{
    margin: 48px 0;
}

.block-grupo{
    padding: 24px 72px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.block-grupo p{
    color: #FFF;
    max-width: 655px;
}

.block-grupo .botao{
    background: #86DB08;
    color: var(--secondary-500, #17252F);
}

/* RESPONSIVIDADE SEÇÃO 3 */

@media (max-width:1024px) {
    .block-grupo{
        padding: 24px;
    }
}


/* SEÇÃO 4 */

.custo .col-md-6{
    display: flex;
}

.block-custo{
    display: flex;
    padding: 32px;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    border-radius: 24px;
    background: var(--primary-100, #FFF2CC);    
    box-shadow: 0px 4px 6px -2px rgba(16, 24, 40, 0.03), 0px 12px 16px -4px rgba(16, 24, 40, 0.08);
}

.block-custo h3{
    max-width: 360px;
    letter-spacing: -0.72px;
}

.block-custo-conteudo{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.block-custo-conteudo img{
    width: 57%;
}

/* RESPONSIVIDADE SEÇÃO 4 */

@media (max-width:1024px) {
    .custo .col-md-6{
        width: 100%;
        padding-bottom: 16px;
    }
}

/* SEÇÃO 5 */

.lei{
    margin: 48px 0;
}

.block-lei{
    display: flex;
    padding: 24px;
    align-items: center;
    gap: 24px;
    border-radius: 24px;
    background: var(--green-500, #16B364);
}

.block-lei p{
    color: #FFF;
}

/* RESPONSIVIDADE SEÇÃO 5 */


/* SEÇÃO 6 */

.simulador .row{
    border-radius: 24px;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 72px 48px;
}

.block-simulador{
    max-width: 405px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
}

.block-simulador-conteudo{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
}

.block-simulador-conteudo-campo label{
    border-radius: 12px;
    padding: 20px 10px;
    background: var(--base-white, #FFF);
    color: var(--secondary-400, #34546A);
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
}

.block-simulador-conteudo-campo input,
.block-simulador-conteudo-campo input:focus,
.block-simulador-conteudo-campo input:focus-visible,
.block-simulador-conteudo-campo input::placeholder{
    border: 0;
    outline: 0;
    color: var(--secondary-200, #87ABC4);
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
}

.block-simulador-conteudo span{
    color: var(--secondary-300, #5081A4);
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 171.429%;
}

.block-simulador-conteudo-escolha{
    display: flex;
    gap: 22px;
}

.block-simulador-conteudo-escolha label{
    display: flex;
    align-items: center;
    gap: 8px;
    color: var(--secondary-300, #5081A4);
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 160%;
}

.block-simulador-conteudo-escolha input{
    appearance: none;
    border: 1px solid #87ABC4;
    border-radius: 100%;
    padding: 8px;
}

.block-simulador-conteudo-escolha input:checked{
    border: 1px solid #F6B700;
    background: #F6B700;
    box-shadow: 0px 4px 4px 0px rgba(16, 24, 40, 0.1), 0px 20px 24px -4px rgba(16, 24, 40, 0.08);
}

/* RESPONSIVIDADE SEÇÃO 6 */


/* SEÇÃO 7 */

.individual{
    margin: 48px 0;
    background: linear-gradient(180deg, #F6B700 0%, rgba(246, 183, 0, 0.00) 100%);
}

.block-individual{
    display: flex;
    padding: 72px 0;
    justify-content: center;
    align-items: flex-start;
    gap: 48px;
}

.block-individual-quadro{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    align-self: stretch;
}

.block-individual-quadro-economia{
    display: flex;
    align-items: flex-start;
    gap: 12px;
    flex: 1 0 0;
    align-self: stretch;
}

.block-individual-quadro-economia-vantagem{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    flex: 1 0 0;
    align-self: stretch;
}

.block-individual-quadro-economia-vantagem-recurso{
    display: flex;
    padding: 24px;
    justify-content: center;
    align-items: center;
    gap: 12px;
    flex: 1 0 0;
    align-self: stretch;
    border-radius: 24px;
    background: var(--primary-100, #FFF2CC);
}

.block-individual-quadro-economia-vantagem-recurso.verde{
    background: var(--green-400, #3CCB7F);
}

.block-individual-quadro-economia-vantagem-recurso.verde h5{
    color: var(--green-800, #095C37);
}

.block-individual-quadro-economia-fatura{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    flex: 1 0 0;
    align-self: stretch;
}

.block-individual-quadro-economia-fatura-gigante{
    display: flex;
    padding: 24px;
    flex-direction: column;
    gap: 12px;
    align-self: stretch;
    border-radius: 24px;
    background: var(--secondary-500, #17252F);
}

.block-individual-quadro-economia-fatura-gigante h5{
    color: #FFF;
}

.block-individual-quadro-economia-fatura-digital{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 12px;
    flex: 1 0 0;
    align-self: stretch;
}

.block-individual-quadro-economia-fatura-digital-cartao{
    display: flex;
    padding: 24px;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    flex: 1 0 0;
    align-self: stretch;
    border-radius: 24px;
    background: var(--base-white, #FFF);
}

.block-individual-quadro-economia-fatura-digital-cartao b{
    font-weight: 600;
}

/* RESPONSIVIDADE SEÇÃO 7 */

@media (max-width: 1024px){
    .block-individual{
        flex-direction: column;
    }

    .block-individual-quadro-economia{
        align-items: stretch;
    }

    .block-individual-quadro-economia .analise{
        width: 450px;
    }
}

/* SEÇÃO 8 */

.planos h3:first-child{
    margin-bottom: 48px;
}

.planos .col-md-4{
    padding: 0 16px;
    display: flex;
}

.block-planos{
    display: flex;
    padding: 40px;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    flex: 1 0 0;
    border-radius: 24px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.block-planos-titulo{
    display: flex;
    align-items: center;
    gap: 24px;
}

.block-planos-titulo h3{
    color: #FFF;
    font-size: 40px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: normal;
}

.block-planos h6{
    color: var(--base-white, #FFF);
}

/* RESPONSIVIDADE SEÇÃO 8 */

@media (max-width: 1024px){
    .planos .col-md-4{
        width: 100%;
        padding-bottom: 16px;
    }
}

/* SEÇÃO 9 */

.clientes{
    margin: 48px 0;
}

.clientes h3:first-child{
    margin-bottom: 48px;
}

.clientes .col-md-4{
    padding: 0 16px;
    display: flex;
}

.block-clientes{
    display: flex;
    padding: 24px 24px 72px 24px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    flex: 1 0 0;
    border-radius: 48px;
    background: var(--gray-100, #F2F4F7);
}

.block-clientes-perfil{
    display: flex;
    align-items: center;
    gap: 16px;
}

.block-clientes-perfil-nome{
    display: flex;
    padding: 10px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    flex: 1 0 0;
}

.block-clientes-perfil-nome h6{
    font-weight: 700;
}

.block-clientes-perfil-nome span{
    color: var(--secondary-500, #17252F);
    font-size: 14px;
    font-weight: 400;
    line-height: 142.857%;
}

.block-clientes p{
    font-size: 16px;
}

/* RESPONSIVIDADE SEÇÃO 9 */

@media (max-width: 1024px){
    .clientes .col-md-4{
        width: 100%;
        padding-bottom: 16px;
    }
}

/* SEÇÃO 10 */

.block-iniciativa{
    display: flex;
    padding: 72px 56px;
    flex-direction: column;
    gap: 48px;
    border-radius: 24px;
    background: var(--green-500, #16B364);
}

.block-iniciativa .col-md-4{
    display: flex;
    padding: 0 16px;
}

.block-iniciativa h3{
    color: #FFF;
}

.block-iniciativa-item{
    display: flex;
    padding: 24px;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    flex: 1 0 0;
    align-self: stretch;
    border-radius: 24px;
    background: var(--gray-50, #F9FAFB);
    box-shadow: 0px 8px 8px -4px rgba(16, 24, 40, 0.03), 0px 20px 24px -4px rgba(16, 24, 40, 0.08);
}

.block-iniciativa-item-conteudo{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}

.block-iniciativa-item-conteudo h3{
    color: var(--secondary-500, #17252F);
    font-weight: 700;
}

.block-iniciativa-item-conteudo p{
    text-align: center;
}

/* RESPONSIVIDADE SEÇÃO 10 */

@media (max-width: 1024px){
    .iniciativa .col-md-4{
        width: 100%;
        padding-bottom: 16px;
    }
}

/* SEÇÃO 11 */

.sobre{
    margin: 48px 0;
    background: linear-gradient(180deg, #F6B700 0%, rgba(246, 183, 0, 0.00) 100%);
}

.block-sobre{
    display: flex;
    padding: 72px 0;
    justify-content: center;
    align-items: flex-start;
    gap: 48px;
}

.block-sobre-vagalume{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 48px;
}

.block-sobre-vagalume-cartao{
    display: flex;
    padding: 24px;
    justify-content: center;
    align-items: flex-start;
    gap: 48px;
    border-radius: 32px;
    background: var(--primary-25, #FEFDF0);
    width: 917px;
}

.block-sobre-vagalume-cartao-conteudo{
    display: flex;
    flex-direction: column;
    gap: 32px;
    align-self: stretch;
}

.block-sobre-vagalume-cartao-conteudo h4{
    color: var(--secondary-500, #17252F);
}

.block-sobre-vagalume .botao{
    width: 400px;
    text-align: center;
}

/* RESPONSIVIDADE SEÇÃO 11 */

@media (max-width: 1024px){
    .block-sobre{
        flex-direction: column;
    }

    .block-sobre-vagalume-cartao{
        width: auto;
    }

    .block-sobre-vagalume-cartao-conteudo{
        gap: 16px;
    }
}

/* SEÇÃO 12 */

.parceria .col-md-6{
    display: flex;
    padding: 0 16px;
}

.block-parceria-cartao{
    display: flex;
    padding: 48px;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    flex: 1 0 0;
    align-self: stretch;
    border-radius: 24px;
    background: var(--primary-500, #F6B700);
    box-shadow: 0px 8px 8px -4px rgba(16, 24, 40, 0.03), 0px 20px 24px -4px rgba(16, 24, 40, 0.08);
}

.block-parceria-cartao.verde{
    background: var(--green-950, #052E1C);
}

.block-parceria-cartao.verde p{
    color: #FFF;
}

.block-parceria-cartao.verde .botao{
    background-color: #86DB08;
    color: #17252F;
}

/* RESPONSIVIDADE SEÇÃO 12 */

@media (max-width: 1024px){
    .parceria .col-md-6{
        width: 100%;
        padding-bottom: 16px;
    }
}

/* SEÇÃO 13 */

.perguntas {
    margin: 48px 0;
}

.block-perguntas{
    display: flex;
    padding: 72px 48px;
    gap: 94px;
    border-radius: 24px;
    background: var(--primary-200, #FFE494);
}

.block-perguntas h2{
    max-width: 380px;
}

.block-perguntas-frequentes{
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 634px;
}

.block-perguntas-frequentes p{
    font-size: 14px;
}

.block-perguntas-frequentes .negrito{
    font-weight: 700;
    font-size: 18px;
}

/* RESPONSIVIDADE SEÇÃO 13 */

@media (max-width:1024px) {
    .block-perguntas{
        flex-direction: column;
        gap: 48px;
    }

    .block-perguntas h2 {
        max-width: max-content;
    }

    .block-perguntas-frequentes{
        width: auto;
    }
}

/* SEÇÃO 14 */

.rodape{
    padding: 72px;
    background: var(--secondary-500, #17252F);
}

.block-rodape{
    display: flex;
    align-items: flex-start;
    gap: 72px;
}

.block-rodape-logo{
    display: flex;
    flex-direction: column;
    gap: 56px;
}

.block-rodape-logo-redes{
    display: flex;
    justify-content: space-between;
}

.block-rodape-canais{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.block-rodape-canais p{
   font-weight: 600;
   color: #FFF;
}

.block-rodape-canais-info{
    display: flex;
    gap: 40px;
}

.block-rodape-canais-info p{
    font-size: 14px;
    color: #FFF;
}

.block-rodape-canais-info p b{
    font-weight: 100;
}

.block-rodape-canais-info a{
    text-decoration: none;
    display: flex;
    align-items: center;
}

.block-rodape-canais-info .email{
    text-decoration: underline;
    color: #FFF;
}

/* RESPONSIVIDADE SEÇÃO 14 */

@media (max-width:768px){
    .rodape{
        padding: 72px 0;
    }

    .block-rodape-canais-info{
        flex-wrap: wrap;
    }
}




/*RESPONSIVIDADE TITULOS*/

@media (max-width:1024px){
    h1{
        font-size: 44px;
    }
    
    h2{
        font-size: 44px;
    }
    
    h3{
        font-size: 32px;
    }
    
    h4{
        font-size: 26px;
    }
    
    h5{
        font-size: 20px;
    }
    
    h6{
        font-size: 16px;
    }
    
    p{
        font-size: 16px;
    }
}

@media (max-width:767px){}